{% trans_default_domain 'FOSUserBundle' %}

<div class='container'>
    <div class="row">
        <div class="col-sm-6">
            <h1> Register User</h1>
            {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
            {{ form_row(form.firstName, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
            {{ form_row(form.phoneNo, {'attr': {'class': 'form-control'}}) }}
            {#        {{ form_row(form.plainPassword, {'attr': {'class': 'form-control'}}) }}#}
            {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
            {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
            <br>
            <div class='clearfix'>
                <input class='btn btn-primary' type="submit" value="{{ 'registration.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
