{% extends "base.html.twig" %}
{% block bodycontent %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class':'shopDetails'}}) }}
    {{form_row(form.shopId)}}
    {{form_row(form.shopName)}}
    {{form_row(form.shopLocation)}}
    <button type="button" class="btn btn-sm btn-success margin-inline saveBtn" style="margin-bottom: -23px;">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
    </button>
    {{form_end(form)}}
{% endblock %}
{% block customjs %}
    <script type="text/javascript">
        $(".saveBtn").on("click", function () {
            var form = $('.shopDetails');
            var data = form.serialize();
            var shopName = $("#{{form.shopName.vars.id}}").val();
            $.ajax({
                type: 'POST',
                url: "{{path('shop_master_save')}}",
                data: data,
//        async: false,
                beforeSend: function () {
                    $('#overlay').width('100%').html('<i class="spinner fa fa-2x fa-refresh fa-spin align-middle"></i>');
                },
                complete: function () {
//            $('#overlay').width('0').html('');
                },
                error: function () {
//            $('#overlay').html('').width('0');
//            addMsg('error', 'Some error found...!!');
                    return false;
                }
            });
        });

    </script>
{% endblock %}